# TYPE  DATABASE        USER            ADDRESS         METHOD
local   all             all                             scram-sha-256
host    zedral_prod     m1_app          127.0.0.1/32    scram-sha-256
host    zedral_prod     m1_migrator     127.0.0.1/32    scram-sha-256
host    supertokens     all             127.0.0.1/32    scram-sha-256
# No non-loopback host lines
